<li><a href="{{ site.data-format }}" class="otherLinkColour">Supported Data Formats</a>
    <ul>
        <li><a href="{{ site.data-format }}aamva-dl.html" class="otherLinkColour">AAMVA DL</a></li>
        <li><a href="{{ site.data-format }}sa-dl.html" class="otherLinkColour">South Africa DL</a></li>
        <li><a href="{{ site.data-format }}aadhaar.html" class="otherLinkColour">Aadhaar</a></li>
        <li><a href="{{ site.data-format }}mrz.html" class="otherLinkColour">MRZ</a></li>
    </ul>
</li>