<li><a href="{{ site.javascript }}" class="otherLinkColour">JavaScript</a>
    <ul>
        <li><a href="{{ site.javascript }}user-guide.html" class="otherLinkColour">User Guide</a></li>

        <li><a href="{{ site.javascript-api }}" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.javascript-api }}CodeParser.html" class="otherLinkColour">CodeParser</a></li>
                <li><a href="{{ site.javascript-api }}InitializeLicense.html" class="otherLinkColour">Initialize License</a></li>
                <li><a href="{{ site.javascript-api }}InitializeEngine.html" class="otherLinkColour">Initialize Engine</a></li>
                <li><a class="otherLinkColour">Interfaces and Enums</a>
                    <ul>
                        <li><a href="{{ site.javascript-api }}interface/BasicPersonalInfo.html" class="otherLinkColour">BasicPersonalInfo</a>
                        <li><a href="{{ site.javascript-api }}interface/CodeParserException.html" class="otherLinkColour">CodeParserException</a>
                        <li><a href="{{ site.javascript-api }}interface/ParseResult.html" class="otherLinkColour">ParseResult</a>
                        <li><a href="{{ site.javascript-api }}enum/EnumCodeFormat.html" class="otherLinkColour">EnumCodeFormat</a>
                        <li><a href="{{ site.javascript-api }}enum/EnumErrorCode.html" class="otherLinkColour">EnumErrorCode</a>
                        <li><a href="{{ site.javascript-api }}enum/EnumResultInfoType.html" class="otherLinkColour">EnumResultInfoType</a>
                    </ul>
                </li>
            </ul>
        </li>

        <li><a href="{{ site.javascript-release-notes }}" class="otherLinkColour">Release Notes</a>
            <ul>
                <li><a href="{{ site.javascript-release-notes }}js-1.html" class="otherLinkColour">Version 1.x</a></li>
            </ul>
        </li>
    </ul>
</li>